@charset "UTF-8";

form {
	width: 1056px;
	font-family: 'Roboto', sans-serif;
	background-color: #f0f0f0;
	padding: 20px 42px 50px;
	margin: 40px 0 70px -20px;
	border: none;
}

label {
	padding-bottom: 6px;
	font-size: 14px;
	padding-left: 5px;
}

input[type=text] {
	font-size: 14px;
	width: 90%;
	height: 36px;
	border-radius: 3px;
	border: 1px solid #f0f0f0;
	padding: 3px 10px;
	outline: none;
	font-family: 'Roboto', sans-serif;
}

::placeholder {
	color: #b9b9b9;
}

input[type=date] {
	width: 270px;
	height: 36px;
	border-radius: 3px;
	border: 1px solid #f0f0f0;
	padding: 3px 10px;
	outline: none;
	font-family: 'Roboto', sans-serif;
}

#solicitacao {
	height: 18px;
	width: 18px;
	margin-right: 10px;
}

input:focus,
.select-estado:focus {
	border: 1px solid #0d6dc0;
}

.select-estado {
	font-size: 14px;
	width: 90%;
	height: 44px;
	border-radius: 3px;
	border: 1px solid #f0f0f0;
	padding: 3px 10px;
	outline: none;
	cursor: pointer;
}

select:invalid {
	color: #8f8f8f;
}

textarea {
	font-size: 14px;
	width: 90%;
	border-radius: 3px;
	border: 1px solid #f0f0f0;
	padding: 10px;
	outline: none;
	font-family: 'Roboto', sans-serif;
	resize: none;
}

.btn-send {
	width: 200px;
	padding: 18px 0;
	cursor: pointer;
	outline: none;
	border: 1px solid gray;
	border-radius: 3px;
	margin-top: 20px;
	transition: 0.5s;
}

.btn-send:hover {
	background-color: white;
}